.headder {
  position: relative;
  background-color: transparent;
  z-index: 10;
}

.App {
  background-image: url("https://cdn.pixabay.com/photo/2024/04/20/11/47/ai-generated-8708404_1280.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.App::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.288);
  z-index: 1;
}

.why-choose-us-content {
  background-color: #3f594461;
  padding: 35px;
  text-align: center;
  max-width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 30px auto;
}

.why-choose-us-heading {
  font-size: 50px;
}

.why-choose-us-text {
  max-width: 600px;
}

.why-choose-us-text h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

.why-choose-us-text p {
  font-size: 18px;
}

.leaf-icon {
  height: 150px;
}

.leaf-icon.left {
  margin-right: 200px;
}

.leaf-icon.right {
  margin-left: 200px;
}

.knowmore-button {
  background-color: #3f5944f3;
  color: white;
  display:flex ;
  justify-content: center;
  width: 90px;
  padding: 7px 15px;
  display: block;
  margin: 30px auto 0 auto;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  text-decoration: none;
}

.App-section-3-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}


/* Media Queries for Responsiveness */

@media screen and (max-width: 450px) {
  .App {
min-height: 70vh;
}
  .why-choose-us-content {
    padding: 20px 10px;
    max-width: 95%;
    gap: 3px;
    margin: 0px auto;
  }
  .why-choose-us-heading {
    font-size: 27px;
  }
  .why-choose-us-text p{
    font-size: 16px;
    text-align: justify;
    color: rgba(0, 0, 0, 0.726);
  }
 

  .leaf-icon {
    height: 80px;
    margin: 0px;
  }

  .leaf-icon.left,
  .leaf-icon.right {
    margin: 0;
  }

  .knowmore-button {
    font-size: 14px;
    text-align: center;
  }
}

@media screen and (min-width: 450px) and (max-width: 800px) {
  .App {
    min-height: 85vh;
    }
  .why-choose-us-content {
    padding: 20px 15px;
    max-width: 90%;
    gap: 13px;
    margin: 30px auto;
  }
  .why-choose-us-heading {
    font-size: 27px;
  }
  .why-choose-us-text p{
    font-size: 16px;
    text-align: justify;
    color: rgba(0, 0, 0, 0.726);
  }

  .why-choose-us-heading {
    font-size: 40px;
  }

  .why-choose-us-text h2 {
    font-size: 30px;
  }

  .leaf-icon {
    height: 100px;
  }

  .leaf-icon.left,
  .leaf-icon.right {
    margin: 00px;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
 
  .why-choose-us-heading {
    font-size: 45px;
  }

  .why-choose-us-text h2 {
    font-size: 35px;
  }

  .leaf-icon {
    height: 140px;
  }
  .leaf-icon.left,
  .leaf-icon.right {
    margin: 10px;
  }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {

  .why-choose-us-heading {
    font-size: 48px;
  }

  .why-choose-us-text h2 {
    font-size: 38px;
  }

  .leaf-icon {
    height: 150px;
  }
  .leaf-icon.left,
  .leaf-icon.right {
    margin: 15px;
  }
}

@media screen and (min-width: 1201px) {
 
}
