
.login-header {
    width: 840px;
    padding: 10px 30px;
    background-color: rgba(38, 65, 52, 1); 
    display: flex;
    justify-content: flex-end;
    margin: 100px auto 0 auto;
    border-radius: 10px 10px 0px 0px;
  }
  
  .login-nav-bar {
    display: flex;
    gap: 20px;
  }
  
  .login-nav-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  .login-nav-link:hover {
    background-color: white;
    color: rgba(38, 65, 52, 1);
  }
  
  .login-nav-link.active {
    background-color: white;
    color: rgba(38, 65, 52, 1);
  }
  
  .login-form-container {
    display: flex;
    width: 900px;
    box-shadow: 4px 4px 15px rgba(38, 65, 52, 1);
    overflow: hidden;
    background-color: white;
    margin: 0 auto 100px auto;
    border-radius: 0 0px 10px 100px;
  }
  
  .login-welcome-section {
    background-color: rgba(38, 65, 52, 1); 
    color: white;
    padding: 50px;
    text-align: center;
    width: 40%;
    border-radius: 0 70px 0px 100px;
    font-family: cursive;
  }
  
  .login-form-container .login-welcome-section .login-brand-logo {
    height: 100px;
    width: 240px;
    margin-top: 10px;
  }
  
  .login-form-container .login-welcome-section .login-user-img {
    width: 90px;
    height: 90px;
    margin-bottom: 30px;
  }
  
  .login-form-container .login-welcome-section h2 {
    margin-bottom: 20px;
    font-size: 40px;
    color: white;
  }
  
  .login-form-container .login-welcome-section p {
    font-size: 20px;
    justify-content: space-between;
    color: white;
  }
  
  .login-form-section {
    background-color: #fff;
    padding: 50px;
    width: 60%;
  }
  
  .login-form-box h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .login-form-box {
    width: 100%;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="email"]:hover,
  input[type="password"]:hover {
    border-color: rgba(38, 65, 52, 1); 
  }
  
  input[type="email"]:focus,
  input[type="password"]:focus {
    border-color: rgba(38, 65, 52, 1); 
    outline: none; 
  }
  
  button.login-btn {
    width: 100%;
    padding: 10px;
    background-color: rgba(38, 65, 52, 1); 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }
  
  
    .login-register-section-2 p a{
    color: rgba(38, 65, 52, 1);
    }
    
    .login-register-section-2 p  {
      color: rgba(38, 65, 52, 1);
      text-decoration: none;
      text-align: center;
      margin-top: 10px;
    }
    .login-register-section-2 p a:hover{
    text-decoration: underline;
    color:rgb(52, 113, 83);
    }