.card-page {
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 20px 0px;
}

.card-page-leftside {
    height: 100vh;
    width: 50vw;
    overflow-y: scroll;

}

.card-page-leftside::-webkit-scrollbar {
    display: none;
}

.card-slider-div2 {
    display: flex;
    gap: 20px;
}

.card-slider-div2 img {
    height: 80px;
    cursor: pointer;
    object-fit: cover;
}

.card-slider-div2 img:hover {
    transform: scale(1.1);
}

.card-page-leftside-div2 h2 {
    font-size: 30px;
}

.card-page-leftside-div1 {
    height: 55vh;
    gap: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-page-leftside-div1-img {
    height: 300px;
}

.card-page-leftside-div2 {
    padding-left: 120px;
}

.card-page-leftside-div2-smallcard b {
    font-size: 18px;
}

.card-page-leftside-div2-content {
    margin-left: 10px;
}

.card-page-leftside-div2-smallcard span {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.658);
}

.card-page-leftside-div2-smallcard {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: 20px;
}

.card-page-rightside {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
    padding-left: 30px;
    margin-bottom: 40px;
    margin-top: 10px;
}

.card-page-rightside-div1 {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-top: 40px;
}

.card-page-rightside-div1 h4 {
    margin-bottom: 8px;
}

.card-page-rightside-div1-h4 {
    color: black;
}

.card-page-rightside-div1-b {
    color: rgba(0, 0, 0, 0.59);
}

.card-page-rightside-div2 {
    height: 70%;
}

.card-page-rightside h1 {
    font-size: 29px;
}

.card-page-rightside-div1 span {
    font-size: 20px;
}

.card-page-rightside-div1 h3 {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.658);
    margin: 5px 0px 3px 0px;
}

.card-page-rightside-div1 div {
    display: flex;
    justify-content: start;
    align-items: center;
}

.card-page-rightside-div1 div b {
    font-size: 25px;
}

.card-page-quantity {
    margin: 10px 0px;
    max-width: 150px;
}

.card-page-rightside-div1 h6 {
    margin-left: 10px;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.418);
}

.card-page-rightside-div1 h5 {
    margin-top: 3px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.707);
}

hr {
    border: 0.5px solid rgba(0, 0, 0, 0.097);

}


@media screen and (max-width: 500px) {
    .card-page-leftside-div1-img {
        height: 250px;
    }

    .card-page-rightside {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        padding-left: 20px;

    }

    .card-slider-div2 img {
        height: 60px;
    }

    .card-page {
        flex-direction: column;
        height: auto;
        width: 100%;
        position: relative;
    }

    .card-page-leftside,
    .card-page-rightside {
        width: 90%;
        height: auto;

    }

    .product-details-header {
        margin: 0 auto;
        padding: 0;
        width: 100%;
        text-align: start;
        font-size: 18px;
        color: green;
    }

    .card-page-leftside-div2 {
        margin: 0;
        padding: 5px 15px;

    }

    .card-page-leftside-div2 {
        margin: 0;
    }

    .card-page-leftside-div2 h2 {
        display: none;
    }

    .card-page-leftside-div2-content {
        display: none;
        margin-left: 0;

    }

    .card-page-leftside-div2.expanded .card-page-leftside-div2-content {
        display: block;
        margin-left: 0px;
    }

    .expand-navbar {
        position: absolute;
        top: -10px;
    }

    .card-page-rightside-div1 {
        margin-top: 2px;
    }
}

@media screen and (min-width:500px)and (max-width: 750px) {
    .card-page-leftside-div1-img {
        height: 180px;
    }

    .card-page-rightside {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        padding-left: 20px;

    }

    .card-slider-div2 img {
        height: 70px;
    }

    .card-page {
        flex-direction: column;
        height: auto;
        width: 100%;
        position: relative;
    }

    .card-page-leftside,
    .card-page-rightside {
        width: 90%;
        height: auto;

    }

    .product-details-header {
        margin: 0 auto;
        padding: 0;
        width: 100%;
        text-align: start;
        font-size: 18px;
        color: green;
    }

    .card-page-leftside-div2 {
        margin: 0;
        padding: 5px 15px;

    }

    .card-page-leftside-div2 {
        margin: 0;
    }

    .card-page-leftside-div2 h2 {
        display: none;
    }

    .card-page-leftside-div2-content {
        display: none;
        margin-left: 0;

    }

    .card-page-leftside-div2.expanded .card-page-leftside-div2-content {
        display: block;
        margin-left: 0px;
    }

    .expand-navbar {
        position: absolute;
        top: -10px;
    }

    .card-page-rightside-div1 {
        margin-top: 2px;
    }
}

@media screen and (min-width:750px)and (max-width: 1500px) {
    .product-details-header {
        display: none;

    }
}