
.card-why-shop img{
    height: 80px;
}
.card-why-shop-container{
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    gap:3px;
    margin: 40px 0px 0px 0px;  

}
.card-why-shop-div1{
    height: 100%;
    width: fit-content;
   width: 12%;
}
.card-why-shop-div2{
    height: 100%;
    width: 80%;
    padding-top: 17px;
    
}
.card-why-shop-div2 span{
    font-size: 17px;

}
.card-why-shop-div2 p{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.57);
}

@media (max-width: 891px){
    .card-why-shop-container{
        display: flex;
        align-items: center;
        height: 40px;
        width: 100%;
        gap:27px;
        margin: 40px 0px 0px 0px;  
    
    }
}