@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@400&display=swap');


.read-card-container{
  width: 80%;
  margin: 50px auto;
}
.read-blog-main-heading{
  width: 70%;
}
.read-blog-main-heading h1{
  font-size: 50px;
  font-weight: 700;
  font-family: 'Playfair Display', serif;
}
/* .read-card-content{
     width: 80%;
     margin: 0 auto;
} */
.read-blog-image{
    width: 100%;
    display: block;
    margin: 30px auto;
    height: 400px;
    object-fit: cover;
}
.text-content-heading{
     display: flex;
     justify-content: space-between;
}
.text-content{
      width: 65%;
      /* border: 2px solid red; */
}
.blogs-content-headings{
  padding: 0px 20px;
  text-align: start;
  font-family: 'Playfair Display', serif;
}
.read-blog-text{
    text-align: justify;
    margin-bottom: 15px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
.content-heading{
  width: 30%;
  height: 600px;
  position: sticky;
  top: 100px;
}
.content-heading h1{
  padding: 0px 20px;
  margin-bottom: 25px;
  font-family: 'Playfair Display', serif;
}
.contenrh2img{
  width: 100%;
  margin-bottom: 20px;
}
.all-content-headings{
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: 'Playfair Display', serif;
  
}
.read-blog-span-text-heading{
       margin-bottom: 2px;
       font-size: 19px;
       font-family: 'Playfair Display', serif;
}
.read-blog-span-text{
      margin-bottom: 15px;
      font-size: 18px;
      font-family: 'Roboto', sans-serif;
}

@media (max-width: 768px) {
  .read-card-container{
    margin: 30px auto;
    width: 90%;
  }
  .read-blog-main-heading{
    width: 100%;
  }
  .read-blog-main-heading h1{
    font-size: 26px;
  }
  .read-blog-image{
      height: auto;
  }
  .text-content-heading{
       display: block;
  }
  .text-content{
        width: 100%;
        /* border: 2px solid red; */
  }
  .blogs-content-headings{
    padding: 0px 20px;
    text-align: start;
  }
  .read-blog-text{
      text-align: justify;
      margin-bottom: 15px;
      font-size: 15px;
  }
  .content-heading{
    width: 30%;
    display: none;
    height: 600px;
    position: sticky;
    top: 100px;
  }
  .content-heading h1{
    padding: 0px 20px;
    margin-bottom: 25px;
  }
  .contenrh2img{
    width: 100%;
    margin-bottom: 20px;
  }
  .all-content-headings{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
  }
  .read-blog-span-text-heading{
         margin-bottom: 2px;
         font-size: 17px;
  }
  .read-blog-span-text{
        margin-bottom: 15px;
        font-size: 15px;
  }
}