/* body{
    background-color: rgb(175, 233, 175);
} */

.blog-page-header{
    width: 80%;
    /* border: 5px solid green; */
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 100px; 
}
.blog-card {
    width: 360px;
    height: 480px;
    position: relative;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

.blog-image-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.blog-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: justify;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
    width: 80%; 
}

.blog-content h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

.blog-content p {
    margin: 10px 0;
    font-size: 16px;
    color: #ffffff;
}

.read-more-btn {
    padding: 10px 20px;
    background-color: #253e32;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    border: 1px solid #ffffff;
}
.small-blog-cards{
    display: flex;
    flex-direction: column;
    /* justify-content: ; */
    gap: 30px;
    /* border: 3px solid gray; */
    width: 65%;
    padding-right: 10px;
}

.read-more-btn:hover {
    border: 2px solid #ffffff;
}
.main-component-cards{
    width: 100%;
    margin-bottom: 80px;
    /* border: 2px solid navy; */
}
.com-cards{
    width: 80%;
    /* border: 2px solid red; */
    margin: 0 auto;
}
.component-cards{
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   gap: 20px;
   
    
}

@media (max-width: 768px) {
    /* body{
    background-color: rgb(175, 233, 175);
} */
.blog-page-header{
    width: 90%;
    /* border: 5px solid green; */
    display: flex;
    margin-top: 30px;
}
.blog-card {
    width: 360px;
    height: 400px;
}

.small-blog-cards{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    /* justify-content: ; */
    gap: 30px;
    /* border: 3px solid gray; */
    width: 100%;
    padding-right: 0px;
}
}