.blog-page{
    width: 100%;
}
.blog-container{
   text-align: center;
}
.para{
    margin: 0;
    padding: 0;
}
.main-component-cards{
    width: 100%;
    border: 2px solid navy;
}
.com-cards{
    width: 80%;
    border: 2px solid red;
    margin: 0 auto;
}
.component-cards{
   
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   gap: 20px;
   
    
}
