.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 0px;
    margin: 20px;
}

.card {
    position: relative;
    width: 288px;
    height: 300px;
    overflow: hidden;
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-title-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.card-title {
    font-size: 24px;
    font-weight: bold;
    color: #444;
    background-color: rgba(255, 255, 255, 0.6);
}