.CardC-body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  z-index: 9999;
}

.CardC-body-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.633);
  z-index: 1; 
}

.CardC-container {
  height: 100vh;
  width: 40vw;
  background-color: #f5f7fd;
  position: relative;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: auto;
  padding-bottom: 3;
  }

.CardC-container::-webkit-scrollbar {
  display: none;
}

.CardC-container span {
}

.CardC-container span img {
  position: fixed;
  top: 15px;
  right: 15px;
  height: 40px;
  cursor: pointer;
}

.CardC-container span h2 {
  color: black;
  font-size: 25px;
  width: 100%;
  display: block;
  margin-left: 50px;
}


.CardC-container span img:hover {
  transform: scale(1.1);
}
.CardC-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CardC-card{
  display: flex;
  align-items: center;
  height: 100px;
  width: 80%;
  justify-content: space-between;
  margin: 20px 0;
  border: 1px solid ;
  padding: 7px 10px;
  border-radius: 8px;
}

.CardC-card-div1{
width: 35%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
object-fit: cover;
}

.CardC-card-div1 img{
  height: 100px;

}
.CardC-card-div2{
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  object-fit: cover;
}
.CardC-card-div2 h1{  
  font-size: 20px;}

  .CardC-card-div2 p del{
    color: rgba(0, 0, 0, 0.426);
  }

.buynow-btn-cart{
  position: relative;
 
}
.CardC-card-div3{
  width: 35%;
  height: 100%;
  display: flex;
  padding-bottom: 5px;
  align-items: end;
  justify-content: center;
  object-fit: cover;
}
.cardc-empty-container{
  min-height: 30vh;
  width: 100%;
  background-color: black;
}
.CardC-proceed-to-buy{
  width: 41vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  position: fixed;
  bottom: 0;
  right : 0;
  border-radius: 20px 0 0 20px;
}

.CardC-proceed-to-buy-h1{
height: 60px;
width: 80%;
display: flex;
align-items: center;
font-size: 20px;
justify-content: space-around;
gap:120px;

padding-right: 10px;
color: white;
background-color: black;

border-radius: 8px;

  
}