.header-container {
    height: 70px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(38, 65, 52, 1);
    padding: 5px 0px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav-logo a {
    display: flex;
    align-items: center;
    color: #fffffe;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-logo img {
    height: 60px;
    width: 250px;
    margin-right: 30px;
    margin-left: 20px;
    object-fit: cover;
}

.nav-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 30px;
    font-size: larger;
}

.nav-item {
    margin-left: 20px;
    position: relative;
}

.nav-item a {
    color: #fffffe;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: color 0.3s, background-color 0.3s, transform 0.3s;
}

.nav-item a:hover {
    color: #17252a;
    transform: scale(1.1);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2b7a78;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000; 
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s;
}

.dropdown-content a {
    color: #17252a;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: color 0.3s, background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #def2f1;
    color: #17252a; 
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
}

.dropdown-content a:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.dropdown-content a:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dropdown-items {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 30px;
}

.dropdown-items span {
    background-color: #def2f1;
    border-radius: 2px;
    display: block;
    height: 3px;
    margin: 5px 0;
    width: 25px;
    transition: all 0.3s;
}

.head-image-1 {
    float: right;
    opacity: 0.9;
}


.headline-1 {
    font-size: 65px;
    font-weight: bolder;
    color: #def2f1;
    text-align: center;
    margin-top: 80px; 
}

.headline-2 {
    font-size: 65px;
    font-weight: bolder;
    color: #fffffe;
    text-align: center;
    margin-top: 20px;
}

.headline-3 {
    font-size: 30px;
    color: #2b7a78;
    text-align: center;
    margin-top: 20px;
}

.explore-field {
    font: 50px bold;
    color: #2b7a78;
    text-align: center;
    margin-top: 20px;
}

/* Media Queries */
@media (max-width: 768px) {

    .header-container {
        height: 50px;
    }

    .navbar {
        height: 50px; 
        padding: 0px;
    }
    
    .content {
        padding-top: 50px; 
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 50px;
        left: 0;
        background-color: rgba(38, 65, 52, 1);
        padding: 0;
    }

    .nav-menu.active {
        display: flex;
    }

    .nav-logo img {
        width: 120px;
        height: 40px;
        margin-left: 10px;
        object-fit: cover;
    }

    .nav-logo a {
        font-size: 20px;
    }

    .nav-item {
        margin-left: 40px; 
    }

    .nav-item a {
        padding: 10px;
        border-top: 1px solid #444;
    }

    .dropdown-items {
        display: flex;
        margin-right: 30px;
    }

    .head-image-1 {
        float: right;
    }

    .headline-1 {
        font-size: 32px;
    }

    .headline-2 {
        font-size: 32px;
        margin-top: 20px; 
    }

    .headline-3 {
        font-size: 20px;
    }

    .main-product-img {
        width: 300px;
    }

    .card {
        width: 400px;
        border-radius: 10px;
    }
}
