.veg-img-bg{
    height: 20vh;
    display: block;
    margin: 0px auto;
    background-color:#e9e8e6 ;
    cursor: pointer;
    border-radius: 10%;
     
    }
    
    .veg-continer-bg{
        height: 250px;
        width: 200px;
        padding: 10px;
        border-radius: 10px;
        background-color: #e9e8e6;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        box-shadow: 2px 2px 10px hwb(0 31% 69%);
        
    }
  
    .btn-continer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    }
    .card-btn{
        padding: 0.8vh 4vw;
        background-color: #069219;
        border: none;
        cursor: pointer;
        font-size: 19px;
    }
    .info{
        width: 100%;
    }