.second-blog-container{
   display: flex;
   gap: 20px;
}
.second-blog-image{
       width: 100px;
}
.second-blog-content{

}
.second-blog-title{

}
.second-blog-details{

}
.second-blog-desc{
      text-align: justify;
}